.create-page {
    >.title {
        font-size: 28px;
        font-family: Fjalla One;
        margin-bottom: 40px;

         img {
            transform: translate(-8px, 4px);
        }
    }

    form {
        * {
            font-size: 18px;
        }

        .group {
            margin-bottom: 20px;

            &.date {
                input {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
        }

        input {
            padding: 4px 12px;
            margin-left: 20px;
        }

        label {
            min-width: 240px;
            display: inline-block;
        }

        .error {
            color: red;
            display: inline-block;
            margin-left: 40px;
        }

        .rdtPicker {
            background: #0F111E;
        }

        button {
            margin-top: 40px;
            padding: 6px 24px;
            border-radius: 8px;

                &:hover {
                    background: lightblue;
                }
        }
    }
}