.join-page {
    >.title {
        font-size: 28px;
        font-family: Fjalla One;
        margin-bottom: 40px;

        img {
            transform: translate(-8px, 4px);
        }
    }

    .lotery-card {
        // width: fit-content;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 32px;
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }

        >.title {
            font-size: 22px;
        }

        button {
            padding: 4px 12px;
            border-radius: 6px;
            font-size: 16px;

            &:hover {
                background: lightblue;
            }
        }

        >.purchase-wrapper {
            margin: 12px 0;
            display: flex;
            align-items: center;
            gap: 12px;

            input {
                font-size: 16px;
                border-radius: 4px;
                padding: 4px 8px;
            }

            label {
                height: 20px;
                line-height: 20px;
                font-size: 16px;
            }
        }

        >.function-wrapper {
            display: flex;
            gap: 12px;
        }

        .info-container {
            margin: 32px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;

            >.group {
                display: flex;
                align-items: center;

                >label {
                    font-size: 16px;
                    color: #ffffff88;
                    width: 200px;
                    display: block;
                }

                >.val {
                    font-size: 16px;

                }
            }
        }
    }
}